.vscode/**
.vscode-test/**
src/**
out/**/*.map
tree-sitter-intouch/node_modules/**
tree-sitter-intouch/test/**
tree-sitter-intouch/bindings/**
tree-sitter-intouch/binding.gyp
tree-sitter-intouch/src/parser.c
tree-sitter-intouch/src/grammar.json
tree-sitter-intouch/src/node-types.json
tree-sitter-intouch/src/tree_sitter/**
tree-sitter-intouch/prebuilds/**
tree-sitter-intouch/package-lock.json
docs/**
sample/**
**/.DS_Store
**/.gitignore
tsconfig.json
*.vsix
